*{
    margin: 0px;
    padding: 0px;
}

/* CSS variable which have not been used */
:root{
    --navbar-height:59px;
}


/* Navbar Section */
#navbar{
    display: flex;
    align-items: center;
    /* background-color: grey; */
    position: sticky;
    top: 0px;
    height: 100%;
    width: 100%;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
}

#logo{
    margin: -5px 4px;
}

#logo img{
    height: 50px;
    margin: 4px 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px;
    margin-top: 10px;
    opacity: 0.8;
    }

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 8px;
    margin: 0px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    /* font-family: 'Noto Sans', sans-serif; */
}

#navbar ul li a:hover{
   background-color: rgb(231, 223, 223) ;
   color: black;
   border-radius: 50px;
   opacity: 0.9;
   box-shadow: 3px 3px 3px rgb(88, 83, 83);
   
}


/* Home Section */
#home-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    /* position: relative; */
    height: 389px;
    width: 100%;
    color: white;
}

#home-section::before{
    content: '';
    background: url(../img/back.avif) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 448px;
    width: 100%;
    z-index: -4;
    opacity: 0.9;
}


.btn{
    padding: 3px;
    background-color: rgb(168, 70, 70);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
    height: 40px;
    width: 100px;
}

button:hover{
box-shadow: 0px 0px 3px rgb(57, 19, 19);
}

/* Services */
#our-services{
    /* border: 2px solid darkred; */
    border-radius: 20px;
    margin-top: 57px;
    width: 98%;
    height: 487px;
}

.services{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.box{
    height: 321px;
    width: 325px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid darkred;
    background-color: rgb(240, 232, 232);
}

.box img{
    height: 88px;
    width: 109px;
    border-radius: 25px;
    margin-bottom: 20px
}

/* Clients Section */
#clients{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    margin-top: 40px;
    position: relative;
    height: 445px;
    color: white;
}

#clients::before{
    content: '';
    background: url(../img/Food_background4.jpeg)no-repeat center center/cover;
    position: absolute;
    top: -6px;
    left: 0px;
    width: 100%;
    height: 438px;
    z-index: -4;
    opacity: 0.8;
}

#clients img{
    box-shadow: 0px 0px 3px black;
    height: 75px;
    width: 75px;
    margin: 0px 30px;
    margin-top: 56px;
    border-radius: 20px;
    z-index: -3;
}

/* Contacts */
#contacts{
    display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
height:  510px;
width: 100%;
position: relative;
color: white;
}

#contacts::before{
    content: '';
    position: absolute;
    background: url('../img/contacts.jpg');
    top: 0px;
    left: 0px;
    height:  510px;
    width: 100%;
    z-index: -4;
    opacity: 0.9;
    }

div .contact-box{
display: block;
margin: auto;
width: 50%;
z-index: -3;
}

#contacts .contact-box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 500px;
    margin: auto;
    height: 100%;
    
    }
    
    #contacts .contact-box label, input, textarea{
        display: inline-block;
    width: 100%;
    position: relative;
    z-index: -1;
    }

    #contacts .contact-box label{
font-size:large;
/* font-weight: bold; */
font-family: 'Noto Sans', sans-serif;
    }

#contacts .contact-box div{
margin: 4px;
}

    #contacts h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    #contacts input{
        height: 42px;
        border: none;
        border-radius: 10px;
    }

    #contacts textarea{
            border: none;
        border-radius: 10px;
    }

    /* Footer Section */
footer{
    background-color: black;
    color: white;
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
/* margin-top: 30px; */
}

/* Utility classes */
.center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 400px;
    margin: auto;
    /* box-sizing: border-box; */
}

.center-row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.h-primary{
    font-size: 2.9rem;
    margin: 15px 0px;
    z-index: -3;
}